.book-details-container {
  display: flex;
  flex-direction: column;
  background-color: #f8fafc;
  min-height: 100vh;
  height: 100%;
  align-items: center;
}

.book-details-content {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 80%;
  min-height: 726px;
  padding: 40px;
  opacity: 1;
  top: 153px;
  left: 150px;
  border-radius: 16px;
  margin-top: 50px;
  box-shadow: 0px 1px 2px 0px #60617029;
  align-items: center;

  @media (max-width: 767px) {
    background-color: transparent;
    width: 100%;
    margin-top: 0px;
    padding: 25px;
    box-shadow: none;
  }
}

.book-container1 {
  display: flex;
  @media (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }
}

.book-cover-image1 {
  width: 235px;
  height: 274px;
  margin-right: 30px;
  opacity: 1;
  top: 217px;
  left: 427px;
  border-radius: 14.13px;

  @media (max-width: 767px) {
    width: 235px;
    height: 274px;
    angle: 0 deg;
    opacity: 1;
    top: 80px;
    left: 62px;
    border-radius: 12px;
    margin-right: 0px;
  }
}

.book-details1 {
  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.book-title1 {
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 32px;
  color: #334155;
  line-height: 48px;
  letter-spacing: 0px;

  @media (max-width: 767px) {
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 32px;
    letter-spacing: 0px;
    margin: 5px 0px;
  }
}

.book-author2 {
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  color: #475569;
  line-height: 32px;
  letter-spacing: 0px;

  @media (max-width: 767px) {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px !important;
    leading-trim: NONE;
    line-height: 24px !important;
    letter-spacing: 0px;
    margin: 5px 0px;
  }
}

.book-rating1 {
  font-family: Inter;
  font-weight: 500;
  font-size: 24px;
  color: #475569;
  line-height: 32px;
  letter-spacing: 0px;

  @media (max-width: 767px) {
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0px;
    margin: 5px 0px;
  }
}

.book-status2 {
  font-family: Inter;
  font-weight: 500;
  font-size: 24px;
  color: #475569;
  line-height: 32px;
  letter-spacing: 0px;

  @media (max-width: 767px) {
    font-family: Inter;
    font-weight: 500;
    font-size: 16px !important;
    leading-trim: NONE;
    line-height: 24px !important;
    letter-spacing: 0px;
    margin: 5px 0px;
  }
}

.status {
  font-family: Inter;
  font-weight: 500;
  font-size: 24px;
  color: #0284c7;
  line-height: 32px;
  letter-spacing: 0px;

  @media (max-width: 767px) {
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0px;
    margin: 5px 0px;
  }
}

hr {
  width: 100%;
  border: none;
  border-top: 1px solid #94a3b8;

  margin-top: 40px;
}

.abouts {
}

.about {
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 24px;
  color: #334155;
  line-height: 32px;
  letter-spacing: 0px;

  @media (max-width: 767px) {
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0px;
  }
}

.about-desc {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  color: #475569;
  line-height: 28px;
  letter-spacing: 0px;
  margin-top: 0px;
  margin-bottom: 20px;

  @media (max-width: 767px) {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 20px;
    letter-spacing: 0px;
  }
}

.fail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
