.not-found-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.not-found-img {
  width: 448;
  height: 300;
  top: 244px;
  left: 496px;
  opacity: 1;

  @media (max-width: 767px) {
    width: 225px;
    height: 151px;
    top: 159px;
    left: 67px;
    angle: 0 deg;
    opacity: 1;
  }
}

.not-found-heading {
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 32px;
  color: #334155;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 0px;

  @media (max-width: 767px) {
    font-size: 18px;
    line-height: 24px;
  }
}

.not-found-para {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  color: #475569;
  line-height: 32px;
  letter-spacing: 0%;
  margin-top: 15px;
  text-align: center;

  @media (max-width: 767px) {
    font-size: 14px;
    line-height: 24px;
  }
}

.not-found-button {
  width: 164px;
  height: 48px;
  background-color: #0284c7;
  opacity: 1;
  border-radius: 12px;
  gap: 8px;
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  outline: none;
  text-decoration: none;

  @media (max-width: 767px) {
    width: 132px;
    height: 32px;
    angle: 0 deg;
    opacity: 1;
    border-radius: 8px;
    gap: 8px;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
  }
}

.link{
  text-decoration: none;
}