.header-container {
  display: flex;
  background-color: #ffffff;
  width: 100%;
  height: 89px;
  justify-content: center;
  align-items: center;
  border: 1px solid #e4e7eb;

  @media (max-width: 767px) {
    height: 70px;
  }
}

.secondary-header-container {
  display: flex;
  width: 100%;
  background-color: #f5f7fa;
}

.header-content-container {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-between;

  @media (max-width: 767px) {
    width: 100%;
    padding: 25px;
  }
}

.header-logo {
  width: 130px;

  @media (max-width: 767px) {
    width: 92px;
  }
}

.header-options-list {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  align-items: center;

  @media (max-width: 767px) {
    display: none;
  }
}

.secondary-header-options-list {
  display: none;
  @media (max-width: 767px) {
    list-style-type: none;
    padding-left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

.option-item {
  margin: 0px 8px;
}

.option-item {
  text-decoration: none;
  color: #64748b;
  font-weight: 400;
  font-size: 15px;
}

.active {
  color: #0284c7;
  font-weight: 600;
}

.logout-button {
  background-color: #0284c7;
  border: none;
  color: #ffffff;
  padding: 8px 15px;
  font-size: 12px;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}

.ham-icon {
  display: none;

  @media (max-width: 767px) {
    display: flex;
    background-color: transparent;
    border: none;
  }
}

.home-link{
  text-decoration: none;
}